body {
  background-color: #202124;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

#header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* align-items: center; */
  padding: 10px;
}

a {
  text-decoration: none;
  color: #eef0ff;
}

.top-left {
  display: flex;
  gap: 20px;
}

.top-right {
  display: flex;
  gap: 15px;
}

.top-right i {
  font-size: 20px;
  margin: 0 7px;
}

.img {
  display: flex;
  justify-content: center;
  text-align: center;
  /* height: 300px; */
  margin-top: 100px;
}

.search-div {
  display: flex;
  border: 1px solid #5f6368;
  justify-content: center;
  align-items: center;
  height: 47px;
  border-radius: 50px;
  width: 570px;
  /* background-color: aqua; */
}
.search-div:hover {
  background-color: #363636;
}

.search {
  border: none;
  background-color: #202124;
  width: 550px;
  /* height: 20px; */
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.search-div i {
  margin: 20px;
  color: #9aa0a6;
}
.language-div {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 4px;
}

.mid-button {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
button {
  background-color: #303134;
  color: #e8eaed;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  margin: 11px 4px;
}

p {
  color: #9aa0a6;
}
